# Enable URL rewriting
RewriteEngine On
RewriteBase /gaming_website/

# Redirect all requests to the index.php file, except for existing files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]

# Allow access to image files
<FilesMatch "\.(jpg|jpeg|png|gif)$">
    Require all granted
</FilesMatch>

# Allow access to other types of files if needed
<FilesMatch "\.(css|js|ico)$">
    Require all granted
</FilesMatch>
